@import '_variables';

.loginContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .loginForm {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 70%;

        button {
            background: none;
            border: none;
            background: $lavender;
            color: white;
            padding: 2% 5%;
            margin: 0 30%;
            border-radius: 10px;
            font-family: $titillium;
            font-size: 1em;
            cursor: pointer;

            &:focus {
                outline: none;
            }
        }
        
        input {
            border: none;
            background: none;
            border-bottom: 1px solid $lavender;
            margin: 0 5%;
            font-family: $titillium;

            &:focus {
                outline: none;
            }
        }

        p {
            text-align: center;
            span {
                color: $lavender;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
}


.loginError {
    font-size: 0.9em;
    color: red;
    text-align: center;
    font-family: $titillium;
}

.mainContainer {
    border-bottom: 1px solid #e0e0e0;
    .homeHeader {
        border-bottom: 1px solid #e0e0e0;
        width: 100%;

        h3 {
            padding: 0 5%;
        }
    }
}


.userContent {
    input[type=text] {
        width: 100%;
        height: 50px;
        font-size: 1.0em;
        font-family: $roboto;
        padding: 0 4%;
        border: none;

        &:focus {
            outline: none;
        }
    }

    img {
        max-width: 300px;
        max-height: 300px;
        margin: 0 25%;
    }
}

.tweetBtns {
    margin: 5% 0 0 0;
    width: 94%;
    display: flex;
    justify-content: space-between;
    padding: 0 3% 3% 3%;
    border-bottom: 1px solid #e0e0e0;

    #addImage, .tweetBtn {
        background: none;
        border: none;
        width: 15%;
        height: 35px;
        background: #1DA1F2;
        color: white;
        border-radius: 15px;
        @media(min-width: $minWidth) and (max-width: $maxWidth) {
            width: 30%;
        }
    }

}


.tweetCard {
    width: 90%;
    display: flex;
    flex-direction: column;
    padding: 3% 5%;
    border-bottom: 1px solid #e0e0e0;
    h4 {
        font-family: $roboto;
        margin: 3% 0 0 0;
        padding: 0;
        span {
            font-weight: normal;
        }
    }

    p {
        margin: 3% 0;
    }

    img {
        max-width: 300px;
        max-height: 500px;
        margin: 0 20%;
    }
}


.tweetInteractions {
    display: flex;
    margin: 3% 0;
    justify-content: space-between;

    .tIRetweet, .tIBookmark {
        border: none;
        background: #1DA1F2;
        color: white;
        border-radius: 5px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
        font-family: $roboto;
        cursor: pointer;
    }

    .confirmRetweet {
        border: none;
        background: green;
        color: white;
        border-radius: 5px;
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
        font-family: $roboto;
        cursor: pointer;
    }

    .tILike {
        background: none;
        border: none;
        font-size: 1.5em;
        color: grey;
        cursor: pointer;

        &:hover {
            color: red;
        }

        &:focus {
            outline: none;
        }
    }
}

.retweetText {
    font-family: $roboto;
    color: #1DA1F2;
}

.tweetDate {
    padding: 1% 0;
    font-family: $roboto;
}

.editProfile {
    background: none;
    border: none;
    color: white;
    font-family: $roboto;
    height: 30px;
    border-radius: 10px;
    background: lighten(#1DA1F2, 20%);
    cursor: pointer;
    &:focus {
        outline: none;
    }
}

.userLink {
    text-decoration: none;
    color: darken(#1DA1F2, 10%);
}

.addImageBtn {
    width: 25px;
    height: 25px;
    display: block;
    cursor: pointer;
    fill: rgba(29,161,242,1.00);
}


.retweetSvg, .retweetedSvg, .bookmarkSvg, .bookmarkedSvg {
    width: 25px;
    height: 25px;
    cursor: pointer;
    &:hover {
        fill: lighten(green, 10%);
    }
}

.retweetedSvg, .bookmarkedSvg {
    fill: lighten(green, 10%);
}