@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import '_variables';
$roboto: 'Roboto', sans-serif;
$minWidth: 320px;
$maxWidth: 480px;

.mainPageContainer {
    display: flex;
    font-family: $titillium;


    .mainContainer {
        flex: 2.5;

        @media (min-width: $minWidth) and (max-width: $maxWidth) {
            width: 100%;
            overflow-x: hidden;
        }
    }

    .bookmarkContainer, .profileContainer, .tweetContainer {
        flex: 3;
    }

    .sfContainer {
        flex: 1.25;
        border-left: 1px solid lightgrey;
        display: flex;
        flex-direction: column;
        align-items: center;
        @media (min-width: $minWidth) and (max-width: $maxWidth) {
            display: none;
        }
        ul {
            list-style: none;
            background: rgb(230, 236, 240);
            margin: 3%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            border-radius: 5px;
        }
    }
}

.sideNavContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1.25 1;
    border-right: 1px solid #e0e0e0;
    font-family: $titillium;
    @media(min-width: 320px) and (max-width: 480px) {
        position: fixed;
        bottom: 0;
        background: white;
        width: 100%;
    }
    img {
        max-width: 50px;
        max-height: 50px;
        margin-left: -27%;
        margin-top: 5%;
    }

    ul {
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 50%;
        list-style: none;
        justify-content: space-around;

        a {
            text-decoration: none;
            color: #000;
            font-size: 1.2em;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 3% 0;
            border-radius: 15px;
            transition: all 100ms linear;
            &:hover {
                background: lighten($lavender, 18%);
                color: $lavender;
                transform: translateY(-10%);
            }

            .homePng, .bookmarkPng, .profilePng, .morePng {
                margin-right: 10%;
                margin-left: 0%;
                margin-top: 0;
            }

            .homePng, .bookmarkPng, .profilePng {
                width: 25px;
                height: 25px;
                color:rgba(29,161,242,1.00);
            }

            .bookmarkPng {
                color: black;
            }
        }
    }
}


.logoutBtn {
    border: none;
    background: $lavender;
    color: white;
    padding: 5%;
    border-radius: 5px;
    transition: all 100ms linear;
    font-family: $titillium;
    &:hover {
        transform: translateY(-10%);
        box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    }
}

.twitterIconTop {
    @media(min-width: $minWidth) and (max-width: $maxWidth) {
        display: none;
    }
}

.frontPageNav {
    @media(min-width: $minWidth) and (max-width: $maxWidth) {
        width: 100% !important;
        flex-direction: row !important;
        border-top: 1px solid gray;
        margin: 0;
        padding: 2% 0;
        li {
            display: none;
        }
    }
}