@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
$roboto: 'Roboto', sans-serif;

.mainPageContainer {
    display: flex;

    .mainContainer {
        flex: 2.5;
    }

    .bookmarkContainer, .profileContainer, .tweetContainer {
        flex: 3;
    }

    .sfContainer {
        flex: 1.25;
        border-left: 1px solid lightgrey;
        display: flex;
        flex-direction: column;
        align-items: center;
        ul {
            list-style: none;
            background: rgb(230, 236, 240);
            margin: 3%;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 0;
            border-radius: 5px;
        }
    }
}

.sideNavContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1.25 1;
    border-right: 1px solid #e0e0e0;
    img {
        max-width: 50px;
        max-height: 50px;
        margin-left: -27%;
        margin-top: 5%;
    }

    ul {
        display: flex;
        flex-direction: column;
        height: 50%;
        width: 50%;
        list-style: none;
        justify-content: space-around;

        a {
            text-decoration: none;
            color: #000;
            font-family: $roboto;
            font-size: 1.2em;
            display: flex;
            align-items: center;
            justify-content: space-around;
            padding: 3% 0;
            border-radius: 15px;
            &:hover {
                background: lighten(rgba(29,161,242,1.00), 30%);
                color: rgba(29,161,242,1.00);
            }

            .homePng, .bookmarkPng, .profilePng, .morePng {
                margin-right: 10%;
                margin-left: 0%;
                margin-top: 0;
            }

            .homePng, .bookmarkPng, .profilePng {
                width: 25px;
                height: 25px;
                color:rgba(29,161,242,1.00);
            }

            .bookmarkPng {
                color: black;
            }
        }
    }
}


.logoutBtn {
    border: none;
    background: #1DA1F2;
    color: white;
    padding: 2% 5%;
    border-radius: 5px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    font-family: $roboto;
}